.App {
  text-align: center;
  background-color: rgb(122, 117, 111);
}
.flag-icon{
     width: 10em;
     line-height: 10em;
}
.correct{
   color:green
}
.incorrect{
  color:red
}
.fi {
  position: relative;
  display: inline-block;
  width: 95.333333em;
  line-height: 6em;
}